# flake8 config
[flake8]

ignore =
    # Mix of spaces and tabs, false alarm in docs and strings, Python would raise exception anyway
    E101,
    # Should use tabs for indentation, I use tabs anyway
    W191,
    # Blank line contains whitespace, mainly for easier editing
    W293,

max-line-length = 120

per-file-ignores =
    # Import is separated because checks must be done before importing other modules,
    # and main function must run first
    src/SBA/main.py:E402
    # import * in tests is OK to me, and I prefer doing so
    tests/*:F403,F405
    # Imported but unused
    # This is necessary for any __init__.py file
    __init__.py:F401

statistics = True
